@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    'Segoe UI',
    sans-serif;
  --wb-content-max: 900px;
}

* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
}
body {
  margin: 0;
}
button {
  font: inherit;
}
